{% extends "layout.html" %}
{% block title %}
    about_us
{% endblock %}
{% block body %}
    <section class = "row no-gutters bg-dark position-relative" style = "text-align: rigth;">
        <a class = "nav-link" href = "/" style = "font-family: Apple Chancery, cursive; color: rgb(238, 175, 235); text-align: right;  text-decoration: underline;">Home</a>
        <a class = "nav-link" href = "/feedback" style = "font-family: Apple Chancery, cursive; color: rgb(238, 175, 235); text-align: right; text-decoration: underline;">Feedback</a>
    </section>
    <section class = "about_us">
        <img src = "https://instagram.fhyd1-4.fna.fbcdn.net/v/t51.2885-15/fr/e15/s1080x1080/269197304_335396401753467_6240694196822659213_n.jpg?_nc_ht=instagram.fhyd1-4.fna.fbcdn.net&_nc_cat=103&_nc_ohc=j73GiKpUNCsAX8OHYhR&edm=ABJHkxYAAAAA&ccb=7-4&ig_cache_key=MjczMzA0ODU2MzE2MzMxNDYwMw%3D%3D.2-ccb7-4&oh=00_AT-vFFQ0OmlWW5VWKkmvRuMLFaU-q2rd30BewiU2KD9uQQ&oe=61C80147&_nc_sid=fa978c" width="400">
        <h4 style = "font-family: Apple Chancery, cursive; color:rgb(252, 253, 253); font-weight: bold; padding-top: 10px;">Advaith</h4>
        <p style = "font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;padding-top: 2rem; font-size: 20px; color: white;">
        
            <h1 style = "font-family: fantasy; color: rgb(0, 255, 252); letter-spacing: 2px; font-size: 100px;">HELLO</h1> I am advaith. I am 14 years old and i am a web developer.
            I am an Indian and love using Linux.<br> I use Garuda Linux on my PC(the sweetified plasma one). This is my Final project for Harvard's CS50X. 
            <br>You can reach to me any time through mail and I will reply as soon as possible.
        </p>
    </section>
{% endblock %}