{% extends "layout.html" %}
{% block title %}
    about_us
{% endblock %}
{% block body %}
    <section class = "row no-gutters bg-dark position-relative" style = "text-align: rigth;">
        <a class = "href" href = "/" style = "font-family: Apple Chancery, cursive; color: #D0E1F9; text-align: right;">Home</a>
        <a class = "href" href = "/feedback" style = "font-family: Apple Chancery, cursive; color: #D0E1F9; text-align: right;">Feedback</a>
    </section>
    <section class = "about_us">
        <img src = "site.jpg" width="400">
        <h4 style = "font-family: 'Trebuchet MS', sans-serif; color:rgb(252, 253, 253); font-weight: bold; padding-top: 10px;">Advaith</h4>
        <p style = "font-family: 'Trebuchet MS', sans-serif;padding-top: 2rem; font-size: 20px; color: white;">
        
            <h1 style = "font-family: fantasy; color: rgb(0, 255, 252); letter-spacing: 2px; font-size: 100px;">HELLO</h1> I am advaith. I am 14 years old and i am a web developer.
            I am an Indian and love using Linux.<br> I use Garuda Linux on my PC(the sweetified plasma one). This is my Final project for Harvard's CS50X. 
            <br>You can reach out to me any time through mail and I will reply as soon as possible.
        </p>
    </section>
{% endblock %}
