{% extends "layout.html" %}
{% block title %}
    Apology
{% endblock %}
{% block body %}
    {% if apology == "no_username" %}
        <img src = "static/apology.avif" width = "1500" height = "500" style = "padding-left: 200px; padding-top: 100px;">
        <h1 style = "font-family: Copperplate, Papyrus, fantasy;">Please enter a username.</h1>
    {% elif apology == "no_password" %}
        <img src = "static/apology.avif" width = "1500" height = "500" style = "padding-left: 200px; padding-top: 100px;">
        <h1 style = "font-family: Copperplate, Papyrus, fantasy;">Please enter a password.</h1>
    {% elif apology == "no_confirmation" %}
        <img src = "static/apology.avif" width = "1500" height = "500" style = "padding-left: 200px; padding-top: 100px;">
        <h1 style = "font-family: Copperplate, Papyrus, fantasy; text-align: center; padding-top: 1rem;">Please confirm password.</h1>
    {% elif apology == "no_match" %}
        <img src = "static/apology.avif" width = "1500" height = "500" style = "padding-left: 200px; padding-top: 100px;">
        <h1 style = "font-family: Copperplate, Papyrus, fantasy; text-align: center; padding-top: 1rem;">Please enter similar passwords.</h1>
    {% elif apology == "username_not" %}
        <img src = "static/apology.avif" width = "1500" height = "500" style = "padding-left: 200px; padding-top: 100px;">
        <h1 style = "font-family: Copperplate, Papyrus, fantasy; text-align: center; padding-top: 1rem;">User not registered. Please register.</h1>
    {% elif apology == "password_hash" %}
        <img src = "static/apology.avif" width = "1500" height = "500" style = "padding-left: 200px; padding-top: 100px;">
        <h1 style = "font-family: Copperplate, Papyrus, fantasy; text-align: center; padding-top: 1rem;">Please enter correct password</h1>
    {% elif apology == "username_exists" %}
        <img src = "static/apology.avif" width = "1500" height = "500" style = "padding-left: 200px; padding-top: 100px;">
        <h1 style = "font-family: Copperplate, Papyrus, fantasy; text-align: center; padding-top: 1rem;">Username already exists.</h1>
    {% endif %}
{% endblock %}
