{% extends "layout.html" %} 
{% block title %}
    Best Looking distros
{% endblock %}
{% block body %}
    <section class = "beautiful_distros">
        <h2 style = "font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: lightblue;text-align: left; padding-left: 20px; padding-top: 50px;">Best distros for users where users need a clean desktop: </h2>
        <p style = "text-align: left; padding-left: 20px; padding-top: 50px;">
            The following distros are very easy to use and at the same time are very good looking. These distros can be used by a beginner and provide very clean UI.<br>
            These distros aim to providing the best looking deskptop, therfore their minimum system requirements might not be very basic.
            <br><br><br>In my prospective these are the best looking distros :
            <br><br>1. Solus
            <br><br>2. Elementary OS
            <br><br>3. Garuda Linux
        </p>
        <footer style = "text-align: center; padding-top: 100px;"><img src = "https://i.pinimg.com/originals/16/53/c4/1653c4a60e0e5e48a5d60e9e37f07b16.gif" width = "300" style = "padding-top: 10px;"></footer>
    </section>
    <section class = "beautiful_distros">
        <h1 style = "font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: lightblue;text-align: left; padding-left: 20px; padding-top: 50px;">1. Solus </h1>
        <p style = "text-align: left; padding-left: 20px; padding-top: 50px;">
            Solus is a linux distros which is a independant distro it uses the eopkg package manager.
            <br>It is available in many desktop environments like gnome, plasma, MATE, budgie. I used the budgie environment which is phenomenal. The MATE edition can be used for lighter hardware. 
            <br>The rolling releases make this distro one a kind..
        </p>
        <footer style = "padding-top: 430px;">Copyright&#169; Solus</footer>
    </section>
    

    <section class = "beautiful_distros">
        <h1 style = "color: rgb(14, 142, 216); text-align: left; padding-left: 20px; padding-top: 50px;">2. Elementary OS</h1>
        <p style = "padding-left: 20px; padding-top: 50px; text-align :left;">
            Elementary OS is distro with an elegant dektop environment. It is a Ubuntu based distro and uses the APT package manager.
            <br>It has Macos feel and is filled with useful apps and features.It uses the Pantheon desktop environment. It is very beginner friendly and is a good choice for 1st time users.
        </p>
        <footer style = "padding-top: 430px;">Copyright&#169; Elementary OS</footer>
    </section>
    

    <section class = "beautiful_distros">
        <h1 style = "padding-left: 20px; padding-top: 50px; text-align: left; color: gold;">3. Garuda Linux</h1>
    </section>
{% endblock %}