{% extends "layout.html" %}
{% block title%}
    Best distro for beginners
{% endblock %}
{% block body %}
    <section class = "beginner_distros" style = "background-color: black;">
        <h1 style = "font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #4D648D;;text-align: left; padding-left: 20px; padding-top: 50px;">Best linux distros for beginners : </h1>
        <p style = "text-align: left; padding-left: 20px; padding-top: 50px;">Mostly a beginner might be a windows or a mac user. So I'd recommend a distro which is like windows or macos
        and which are very user friendly, easy to install. 
        </p>
        <p style = "text-align: left; padding-left: 20px;"><br><br>Now these are the three best distros for beginners in my prospective : 
            <br><br><br>1. Ubuntu
            <br><br>2. Zorin OS
            <br><br>3. Pop!_OS
        </p>
        <footer style = "text-align: center; padding-top: 6%;"><img src = "static\index\scroller.gif" width = "300" style = "padding-top: 10px;"></footer>
    </section>
    <section class = "beginner_distros" style = "background-image: url(static/beginner/ubuntu.jpg);">
        <h2 style = "text-align: left; padding-left: 20px; padding-top: 50px; color: orangered">1. Ubuntu</h2>
        <p style = "text-align: left; padding-left: 20px; padding-top: 50px;">Hands down Ubuntu is the best linux distro for most of the users. It is very easy to use, good looking and with latest update it got the gnome 41 which is a game changer.
        <br>It is a debian based distro which uses the apt package manager. Most of the games you play will also run very smoothly.</p>
    </section>
    <section class = "beginner_distros" style = "background-image: url(static/beginner/zorin.jpg);">
        <h2 style = "text-align: left; padding-left: 20px; padding-top: 50px; color: #0bb4f7;">2. Zorin OS</h2>
        <p style = "text-align: left; padding-left: 20px; padding-top: 50px;">Zorin OS is a distro which is just like the windows 7. It is the best distro a windows user can ever imagine for. It has all the features required for a modern desktop. It is a
        <br> Ubuntu based distro and it uses the apt package manager. It is a distro made in Ireland. It is very good looking and user friendly.</p>
    </section>
    <section class = "beginner_distros" style = "background-image: url(static/beginner/pop.jpg);">
        <h2 style = "text-align: left; padding-left: 20px; padding-top: 50px; color: rgb(47, 255, 220);">3. Pop!_OS</h2>
        <p style = "text-align: left; padding-left: 20px; padding-top: 50px;">Pop!_OS is distro by system76 company. It was announced in 2017. It uses it's own desktop environment Cosmic. It is very user friendly, good looking, easy to install.<br>
        This distribution is very good for gamers. It is debian based distro so it uses apt package manager. You can install other desktop environments also very easily like Kde plasma.</p>
    </section>
{% endblock %}
