{% extends "layout.html" %}
{% block title %}
    Speed is key
{% endblock %}
{% block body %}
    <h2 style = "text-align: left; color: lightblue; padding-top: 40px; padding-left: 20px;">The fastest Linux distros are : </h2>
    <p style = "text-align: left; padding-left: 20px; padding-top: 40px;">The given distros are very good to revive old PC's or for a PC where performance is key and it has to be very low on system resources.
        <br>All these distros aim to be resource efficient and fast. They are also very good to set up virtual machine's as they are low on resources.<br> They may not come with a lot of pre installed software but are very snappy. I would not suggest a new user to try any of these because you will have to install the packages manually.
        <br><br><br><br>These are the distro which are fast and usable : 
        <br><br><br>1. Linux Lite 
        <br><br>2. Lubuntu
        <br><br>3. Zorin OS lite
    </p>
{% endblock %}