{% extends "layout.html" %}
{% block title %}
    Speed is key
{% endblock %}
{% block body %}
    <section class = "fastest_distros">
        <h2 style = "text-align: left; color: #4D648D; padding-top: 40px; padding-left: 20px;">The fastest Linux distros are : </h2>
        <p style = "text-align: left; padding-left: 20px; padding-top: 40px;">The given distros are very good to revive old PC's or for a PC where performance is key and it has to be very low on system resources.
            <br>All these distros aim to be resource efficient and fast. They are also very good to set up virtual machine's as they are low on resources.<br> They may not come with a lot of pre installed software but are very snappy. I would not suggest a new user to try any of these because you will have to install the packages manually.
            <br><br><br><br>These are the distro which are fast and usable : 
            <br><br><br>1. Linux Lite 
            <br><br>2. Lubuntu
            <br><br>3. Zorin OS lite
        </p>
        <footer style = "text-align: center; padding-top: 2.5%;"><img src = "static\index\scroller.gif" width = "300" width = "300" style = "padding-top: 10px;"></footer>
    </section>
    
    <section class = "fastest_distros" style = "background-image: url(static/fastest/linuxlite.png);">
        <h1 style = "color: rgb(255, 217, 0); text-align: left; padding-left: 20px; padding-top: 30px">1. Linux Lite</h1>
        <p style = "text-align: left; padding-left: 20px; padding-top: 30px;">
            Linux lite. For. Me it is the best Linux distro in terms of:
            <br><br>
            Lightness ( the name itself says that!), Performance/speed (blazing fast) Amazingly Beautiful UI even alongside less resource consumption (particularly Linux lite 4.2), Beginner friendly, Old /ancient desktop reviver
            <br>It uses a XFCE desktop environment by default with few changes which makes it power efficient as well as awesome looking.
        </p>
    </section>
    <section class = "fastest_distros" style = "background-image: url('static/fastest/lubuntu.png');">
        <h1 style = "text-align: left; padding-left: 20px; padding-top: 30px; color: rgb(201, 163, 219);">2. Lubuntu</h1>
        <p style = "text-align: left; padding-left: 20px; padding-top: 30px;">Lubuntu is distro based on Ubuntu which uses APT package manager and aims to provide users with a desktop which is very fast. It uses Lightweight X11 Desktop Environment (LXDE) as the default desktop environment.
           Lubuntu is a lightweight variant of Ubuntu and a great choice for beginners looking to give an old computer a second lease on life.<br> Lubuntu is a great distro for breathing new life into an old computer.
        </p>
    </section>
    <section class = "fastest_distros" style = "background-image: url(static/beginner/zorin.jpg);">
        <h1 style = "color: rgb(79, 143, 233); text-align: left; padding-left: 20px; padding-top: 30px;">3. Zorin OS Lite</h1>
        <p style = "text-align: left; padding-left: 20px; padding-top: 30px;">
            Zorin OS Lite is a Ubuntu based distro which uses the APT package manager. It uses an XFCE as the dafault desktop environment.
            <br>Performance wise, I found everything fast, even when running multiple apps at a time with numerous tabs open in Firefox. It just works well and I highly suggest giving it a try if you love XFCE.
            <br>The zorin os team have made zorin os very simple to use and install. The zorin appearence app allows you to customize the desktop layout easily.
            <br>The zorin connect app allows the user to connect to their respective phone easily.
        </p>
    </section>
{% endblock %}
