{% extends "layout.html" %}
{% block title %}
    Feedback
{% endblock %}
{% block body %}

    <section class = "row no-gutters bg-dark position-relative" >
        <a class = "nav-link" href = "/" style = "font-family: Apple Chancery, cursive; color: rgb(238, 175, 235); text-align: right;  text-decoration: underline;">Home</a>
        <a class = "nav-link" href = "/about_us" style = "font-family: Apple Chancery, cursive; color: rgb(238, 175, 235); text-align: right; text-decoration: underline;">About us</a>
    </section>
    <section style = "width: 100%;">
        <h1 style = "font-family: 'Trebuchet MS', sans-serif; color: lightblue; text-align: center; padding-top: 4%; font-size: 50px;">Hello "{{ username }}"</h1>
        <form action = "/feedback" method = "POST">
            <p style = "font-family: 'Trebuchet MS', sans-serif; color: lightyellow; text-align: left; padding-top: 8%; padding-left: 8%; display: block; font-size: 20px;">Did this information help you ?</p>
            <div style = "padding-top: 2%; display: block; text-align: left; padding-left: 8%;">
                <button id = "yes" style = "display: inline-block;" type="button">Yes</button>
                <button id = "no" style = "display: inline-block;" type="button">No</button>
                <div style = "text-align: center; display: inline-block; padding-left: 3%;">
                    <input type = "hidden" id = "hidden" placeholder = "Feedback here." style = "padding: 5%; padding-left: 2%; padding-right: 5%; border-radius: 6px;" autocomplete = "off">
                </div>
            </div>
        </form>
    </section>
{% endblock %}
