{% extends "layout.html" %}
{% block title %}
    Best distros for intermediate users:
{% endblock %}
{% block body %}
    <section class = "beginner_distros">
        <h1 style = "font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: lightblue;text-align: left; padding-left: 20px; padding-top: 50px;">Best linux distros for users who used linux: </h1>
        <p style = "text-align: left; padding-left: 20px; padding-top: 50px;">People like me who have used distros will really love these distros. They are very stable environment will rolling updates frequently.
            <br>This distros do have a huge community because of their perfomance and power. Now these distros will be a little tricky to figure out if you are a fairly new user.
            <br>Although these distro are the ones which people dream for if they know one or two things about linux.<br><br><br>
            The distros are : <br>1. Garuda Linux<br>2. Manjaro Linux<br>3. Fedora Linux 
        </p>
    </section>
{% endblock %}
