{% extends "layout.html" %}
{% block title %}
    Best distros for intermediate users:
{% endblock %}
{% block body %}
    <section class = "intermediate_distros">
        <h1 style = "font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #4D648D;text-align: left; padding-left: 20px; padding-top: 50px;">Best linux distros for users who experienced linux : </h1>
        <p style = "text-align: left; padding-left: 20px; padding-top: 50px;">People like me who have used distros will really love these distros. They are very stable environment will rolling updates frequently.
            <br>This distros do have a huge community because of their perfomance and power. Now these distros will be a little tricky to figure out if you are a fairly new user.
            <br>Although these distro are the ones which people dream for if they know one or two things about linux.<br><br><br><br><br>
            These are the distros in my prospective which are good for a little experienced users: 
            <br><br>1. Garuda Linux
            <br><br>2. Manjaro Linux
            <br><br>3. Fedora Linux 
        </p>
        <footer style = "text-align: center; padding-top: 2%;"><img src = "https://i.pinimg.com/originals/16/53/c4/1653c4a60e0e5e48a5d60e9e37f07b16.gif" width = "300" style = "padding-top: 10px;"></footer>
    </section>


    <section class = "intermediate_distros">
        <h1 style = "color: rgb(240, 89, 2); text-align: left; padding-left: 20px; padding-top: 50px;">1. Garuda Linux</h1>
        <p style = "text-align: left; padding-left: 20px; padding-top: 50px;">This is one of the best looking distro. It is quite user friendly and perfomance oriented. It uses a btfrs file system and is available in <br>
            lot of desktop environments. It is a arch based linux distro and uses the pacman package manager. There is also an edition with some blackarch tools for penetration testing. It is very simple to install and use.
        </p>
    </section>

 
    <section class = "intermediate_distros">
        <h1 style = "color: rgb(5, 236, 44); text-align: left; padding-left: 20px; padding-top: 50px;">2. Manjaro Linux</h1>
        <p style = "text-align: left; padding-left: 20px; padding-top: 50px;">Manjaro is a powerful distro which is Arch based Linux which uses a pacman package manager. It is very low on system resources and has a huge community.
            <br>There are some desktop environments which are community driven and there are ARM editions also. It is available in 3 desktop environments : 
            <br>1. KDE plasma
            <br>2. XFCE
            <br>3. Gnome
        </p>
    </section>

    
    <section class = "intermediate_distros">
        <h1 style = "color: rgb(0, 0, 0); text-align: left; padding-left: 20px; padding-top: 50px;">3. Fedora Linux</h1>
        <p style = "text-align: left; padding-left: 20px; padding-top: 50px;">Fedora is a good looking and powerful distro which is redhat based distro and uses a DNF package manager. It is a gnome based distro , the all new fedora workstation 36 
            <br>uses the gnome 41. It is well suited for developers. Even the inventer of Linux Linus Torvards uses fedora workstation on his macbook.
        </p>
    </section>
{% endblock %}
