{% extends "layout.html" %}
{% block title %}
    Login
{% endblock %}
{% block body %}
    <a class="nav-link" href="/register" style = "font-family: Apple Chancery, cursive; color: rgb(238, 175, 235); text-align: right; text-decoration: underline;">Register</a>    
    <form action = "/login" method = "post">
        <h1 style = "text-align: center; padding-top: 75px; color: lightskyblue;">Login</h1>
        <div style = "text-align: center; padding-top: 2rem;" class="form-group">
            <input type = "text" name = "username" placeholder = "Username" autocomplete = "off" autofocus style = "border-radius: 5px; border-color: lightskyblue;">
        </div>
        <div style = "text-align: center; padding-top: 20px;" class="form-group">  
            <input type = "password" name = "password" placeholder = "Password" autocomplete = "off" style = "border-radius: 5px; border-color: lightskyblue;">
        </div>
        <div style = "text-align: center; padding-top: 20px;" class="form-group">
            <input type = "submit" name = "submit" value = "Login" style = " color: black; background-color: lightskyblue; border-radius: 5px; border-color: lightskyblue;">
        </div>
    </form>
{% endblock %}
